.itemList {
  padding: 2%;
  margin: 20px;
  flex: 1 0 21%; /* explanation below */
  border: 1px solid darkslateblue;
}

.graphList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
